HELP.md
spring-security-jwt/target/
vue/node_modules/
!.mvn/wrapper/maven-wrapper.jar
!**/spring-security-jwt/src/main/**
!**/spring-security-jwt/src/test/**
.DS_Store

vue/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
